extends layout
block pagecontainerblock
  .page-container.space-8
    .col-md-12.panel.panel__no-border                  
      .panel-body.col-md-12.col-sm-4.space-4     
        .media
          a(href='https://medium.com/@natarajsindam',target='_blank')
            .pull-left.tile-paddding
              img(height='60', src='/images/i-projects.png')
              br
              .space-top-2.color-black
                .h4.space-1
                  p Articles
                .project-desc
                | Click to view articles written by me