extends layout
block pagecontainerblock
  .page-container.space-8
    .col-md-12.panel.panel__no-border                  
      .panel-body.col-md-12.col-sm-12.space-4 
            iframe(src='https://www.linkedin.com/pulse/its-time-you-pulled-fast-one-nataraj-sindam/')
          .media
            a(href='https://github.com/sindamnataraj/Android-cheapthrills',target='_blank')
              .pull-left
                img(height='60', src='/images/In Progress.png')
                br
            .media-body
              .space-top-2(style='margin-left: 15px;')
                .h4.space-1
                  p cheap-thrills
                .project-desc
                    
                .text-babu.space-top-1.space-1
                    a(href='https://github.com/sindamnataraj/Android-cheapthrills',target='_blank') github_repo
                    |   learning 
                    |  android 
                    |  beacons 
                    |  contextualProgramming