extends layout
block pagecontainerblock
  .page-container-books.space-8
    .col-md-12.panel.panel__no-border
      .panel-body.col-md-4.col-sm-4
        a.col-centered(href='/')
          img(height='200', src='/images/FlashBoys.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/ThirdWave.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/Nike.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/Alibaba.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/TheBigShort.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/UndercoverEconomist.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/Zero2One.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/LiarsPoker.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/Virgin.jpg')
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/dhandho.jpg')   
      .panel-body.col-md-4.col-sm-4
        a(href='/')
          img(height='200', src='/images/thefour.jpg')   

       