extends layout
block pagecontainerblock
  .page-container.space-8
    .col-md-12.panel.panel__no-border
      .panel-body.col-md-12.col-sm-12.space-4      
        .media
          a(href='https://github.com/sindamnataraj/Android-cheapthrills',target='_blank')
            .pull-left
              img(height='60', src='/images/In Progress.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                strong cheap-thrills
              .project-desc
              | Use low energy bluetooth devices to create an android app that automates and does certain personal assistance tasks
              .text-babu.space-top-1.space-1
                strong 
                  a(href='https://github.com/sindamnataraj/Android-cheapthrills',target='_blank') github_repo
                  |   learning 
                  |  android 
                  |  beacons 
                  |  contextualProgramming
      .panel-body.col-md-12.col-sm-12.space-4      
        .media
          a(href='https://github.com/sindamnataraj/sinnatme',target='_blank')
            .pull-left
              img(height='60', src='/images/Javascript Filled-100.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                strong m-e-a-n
              .project-desc
              | create a simple web site using m(ongodb) e(xpress) a(ngular) n(ode) stack and host it on azure cloud services
              .text-babu.space-top-1.space-1
                strong 
                  a(href='https://github.com/sindamnataraj/sinnatme',target='_blank') github_repo
                  |   continous_integration
                  |  continous_deployment
                  |  webhosting 
                  |  azure
      .panel-body.col-md-12.col-sm-12.space-4      
        .media
          a(href='https://github.com/sindamnataraj/bot_talktome/',target='_blank')
            .pull-left
              img(height='60', src='/images/BotImage.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                strong TalkToMe
              .project-desc
              | Chat bot which gives an experience of interacting with me on my personal website.
              .text-babu.space-top-1.space-1
                strong 
                  a(href='https://github.com/sindamnataraj/bot_talktome/',target='_blank') github_repo
                  |   learning 
                  |  MicrosoftBot
      .panel-body.col-md-12.col-sm-12.space-4      
        .media
          a(href='https://github.com/sindamnataraj/Algorithms-and-Data-Structures',target='_blank')
            .pull-left
              img(height='60', src='/images/Flow Chart-96.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                strong algorithms
              .project-desc
              | implemetation of basic algorithms and datastructures
              .text-babu.space-top-1.space-1
                strong 
                  a(href='https://github.com/sindamnataraj/Algorithms-and-Data-Structures',target='_blank') github_repo
                  |   learning 
                  |  webhosting 
                  |  azure
      .panel-body.col-md-12.col-sm-12.space-4      
        .media
          a(href='https://github.com/sindamnataraj/Androd-weather-ibiza',target='_blank')
            .pull-left
              img(height='60', src='/images/Weather.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                strong ibiza - weather app
              .project-desc
              | Weather app which uses openweather apis
              .text-babu.space-top-1.space-1
                strong
                  a(href='https://github.com/sindamnataraj/Androd-weather-ibiza',target='_blank') github_repo
                  |   learning 
                  |  android 
      .panel-body.col-md-12.col-sm-12.space-4
        .media
          a(href='https://github.com/sindamnataraj/Android-MiwokApp',target='_blank')
            .pull-left
              img(height='60', src='/images/Beach Ball-96.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                strong mi-wok
              .project-desc
              | android app to help people learn the language MiWok. MiWok is a native indian language.
              .text-babu.space-top-1.space-1
                strong 
                  a(href='https://github.com/sindamnataraj/Android-MiwokApp',target='_blank') github_repo
                  |  learning 
                  | android 
                  | mobile 