doctype html
html
  head
    title sinnatme
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    .page-container-full
      .header.row
        .col-sm-12
          .pull-left.mt
            //img(src='/images/3DGlasses.png', alt='icon')
            a.icon-sinnat(href='/', style='text-decoration:none; margin-left: 20px;',target='_blank') sinnat.me
            a(href='https://github.com/sindamnataraj',style='text-decoration:none; margin-left: 10px;',target='_blank') 
              img.icon-symbol(height='30', src='/images/Github.png')  
            a(href='https://www.linkedin.com/in/natarajsindam/',style='text-decoration:none; margin-left: 10px;',target='_blank') 
              img.icon-symbol(height='30', src='/images/LinkedIn.png')
          ul.nav.pull-right
            li.pull-left.mr20
              a(href='/') Projects
            li.pull-left.mr20
              a('/') Resume
            li.pull-left.mr20
              a(href='/books') Reading
            li.pull-left.mr20
              a('/') Blog
            li.pull-left.mr20
              a('/') Inspire
      block pagecontainerblock        
