extends layout
block pagecontainerblock
  .page-container.space-8
    .col-md-12.panel.panel__no-border  
      .panel-body.col-md-12.col-sm-12.space-4
        .media
          a(href='')
            .pull-left
              img(height='60', src='/images/mind-map.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                p Email Spam Classifier
              .project-desc
                p Build email spam classifier using support vector machines.
              .text-babu.space-top-1.space-1
                  |  machinelearning 
                  | ocatave
                  | courseera     
      .panel-body.col-md-12.col-sm-12.space-4
        .media
          a(href='')
            .pull-left
              img(height='60', src='/images/mind-map.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                p Movie Ratings and recommendations
              .project-desc
                p Implement a collaborative filtering learning algorithm and apply it to a dataset of movie ratings. Similar algorithm is used by spotify to suggest weekly discovery.
              .text-babu.space-top-1.space-1
                  |  machinelearning 
                  | ocatave
                  | courseera             
      .panel-body.col-md-12.col-sm-12.space-4
        .media
          a(href='')
            .pull-left
              img(height='60', src='/images/mind-map.png')
              br
          .media-body
            .space-top-2(style='margin-left: 15px;')
              .h4.space-1
                p Hand-written digit recognition
              .project-desc
                p Implement the backpropogation algorithm for neural networks and apply it to the task of hand-written digit recognition.
              .text-babu.space-top-1.space-1
                  |  machinelearning 
                  | ocatave
                  | courseera                     